@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.App {
  text-align: center;
}
body{
  background-image: url('./images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}
.cartSpan{
  position: absolute;
}
.bgGrey{
  background:rgba(47, 46, 46, 0.37);
  border-radius:25px;
}
@media only screen and (min-width: 1200px) {
  .card-img-top{
    height: 18rem !important;
  }
}
@media only screen and (max-width: 1200px) {
  .card-img-top{
    height: 16rem !important;
  }
}
@media only screen and (max-width: 768px) {
  .card-img-top{
    height: 25rem !important;
  }
}